.footer {
    margin-top: 30px;
    padding-bottom: 100px;
    
    &-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    &-top {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #4a4a49;
        font-size: 18px;
        font-weight: 500;
    }

    &-bottom {
        display: flex;
        gap: 30px;
    }
}